@import './normalize';
@import './variables.scss';

.App {
  font-family: 'Roboto';
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  p {
    margin: 0;
  }
  .footer {
    margin-top: 50px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
