@import '../../styles/variables.scss';

.Card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 440px;
  border: 1px solid #A2A3A4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px;

  .Card_name {
    font-size: 20px;
    line-height: 23px;
  }

  .Card_author {
    display: flex;
    align-items: center;

    .author_avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 27px;
    }

    .author_name {
      font-size: 18px;
      line-height: 21px;
    }
  }
}
